<div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">

      </div>
      
      <div class="modal-body">
        
        <table class="table table-bordered table-striped" id="sortable">
          <thead>
          <tr>
            <th>Live Event</th>
            <th>Input Label</th>
            <th>Uri</th>
          </tr>
            <% input = @selected_input  %>
              <tr>
              <th><%= input.live_event.name %></th>
              <th><%= input.input_label %></th>
              <th><%= input.uri %></th>
              </tr>
        </table>

      </div>
      <div class="modal-footer">
        <%= form_tag("/input_processings/add", method: "get") do %>
          <%= hidden_field_tag(:checkedInputs, params[:id] ) %>
          <%= hidden_field_tag(:event_id, params[:event_id] ) %>
          <%= submit_tag("Add to Playlist") %>
        <% end %>
        <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %> 
      </div>
  </div>
</div>        
